@model string
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumbTitle">
    <ol class="breadcrumb">
        @if (string.IsNullOrEmpty(Model))
        {
            <li class="breadcrumb-item">今彩539</li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="@Url.Action("index", "TwLot539")">今彩539</a></li>
            <li class="breadcrumb-item active)" aria-current="page">@Model</li>
        }
    </ol>
</nav>
<div class="d-grid gap-2 d-md-block">

    <a href="@Url.Action("QueryNumber", "TwLot539")" class="btn btn-outline-primary btn-lg"><span>查詢號碼</span></a>

    <a href="@Url.Action("QuerySelectNumberCount", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>最合數字</span></a>

    <a href="@Url.Action("HotNumber", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>熱門牌</span></a>

    <a href="@Url.Action("AddNumber", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>新增號碼</span></a>
</div>

