
@model string
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumbTitle">
    <ol class="breadcrumb" style="margin:0px">
        @if (string.IsNullOrEmpty(Model))
        {
            <li class="breadcrumb-item">加州天天樂</li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="@Url.Action("index", "EnLotEveryDay")">加州天天樂</a></li>
            <li class="breadcrumb-item active)" aria-current="page">@Model</li>
        }
    </ol>
</nav>
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">選項</span>
        </button>
        <div class="collapse navbar-collapse mt-1" id="navbarNav">

            <a href="@Url.Action("QueryNumber", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg m-1 " style="display:block"><span>查詢號碼</span></a>

            <a href="@Url.Action("QueryNumberNoPage", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg m-1" style="display:block"><span>查詢號碼不分頁</span></a>

            <a href="@Url.Action("QuerySelectNumberCount", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg m-1 " style="display:block"><span>最合數字</span></a>

            <a href="@Url.Action("HotNumber", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg m-1 " style="display:block"><span>熱門牌</span></a>

            <a href="@Url.Action("UnopenedCount", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg m-1 " style="display:block"><span>未開次數</span></a>

        </div>
    </div>
</nav>
@*<div class="d-grid gap-2 d-md-block">

        <a href="@Url.Action("QueryNumber", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg"><span>查詢號碼</span></a>

        <a href="@Url.Action("QuerySelectNumberCount", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg "><span>最合數字</span></a>

        <a href="@Url.Action("HotNumber", "EnLotEveryDay")" class="btn btn-outline-primary btn-lg "><span>熱門牌</span></a>

    </div>*@

