@model      Lot.Models.Models.SelectLotNumber
@{
    ViewBag.Title = "加州天天樂-最合數字";
}

@section css{
    <style type="text/css">
        .table-hover thead tr th, .table-hover tbody tr td {
            text-align: center;
        }

        .table-hover tbody tr th {
            background-color: aliceblue;
            text-align: center;
        }
    </style>
}
<div class="row">
    @Html.Partial("_EnLotEveryDayMenuPartial", "最合數字")
</div>
<hr />
<!--第1個表格-->
<div class="row">
    <div class="QueryConditions">
        @using (Html.BeginForm("QuerySelectNumberCount", "EnLotEveryDay", FormMethod.Post, new { @role = "form", @class = "" }))
        {
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <label for="StartDate"><b>開始到結束期數</b></label>
                    <input type="text" class="form-control" readonly value="@ViewBag.Data">
                    <br />
                    @Html.CheckBoxFor(m => m.nowYear)
                    <label for="vehicle1">統計今年資料</label><br>
                    @ViewBag.Message
                    <br />
                </div>
                <div class="col-lg-6">
                </div>
            </div>

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                    </tr>
                </thead>

                <tbody>

                    @for (int j = 0; j < 10; j++)
                    {
                        <tr>
                            @for (int i = 0; i < 4; i++)
                            {
                                <th scope="row">
                                    <input class="btn btn-warning" name="selectnum" type="submit" id="selectnum" value=@i@j />
                                </th>
                                string dd = @Convert.ToString(i) + Convert.ToString(j);
                                <td>@Model.selectNumberCountDarry[int.Parse(dd)]</td>
                            }
                        </tr>
                    }
                </tbody>

            </table>
        }
    </div>
    <!--第2個表格-->
    <div class="row">

        <div class="col-md-3">
            <table class="table table-hover" style="width:100%">
                <thead style="background-color:#BBFFEE">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">second</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.selectNumberCountListOrderBy.Count != 0)
                    {
                        for (int i = 0; i < 10; i++)
                        {
                            <tr id="num_@(i + 1)">
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Key</td>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <table class="table table-hover" style="width:100%">
                <thead style="background-color:#BBFFEE">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">second</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.selectNumberCountListOrderBy.Count != 0)
                    {
                        for (int i = 10; i < 20; i++)
                        {
                            <tr id="num_@(i + 1)">
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Key</td>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <table class="table table-hover" style="width:100%">
                <thead style="background-color:#BBFFEE">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">second</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.selectNumberCountListOrderBy.Count != 0)
                    {
                        for (int i = 20; i < 30; i++)
                        {
                            <tr id="num_@(i + 1)">
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Key</td>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <table class="table table-hover" style="width:100%">
                <thead style="background-color:#BBFFEE">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">second</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.selectNumberCountListOrderBy.Count != 0)
                    {
                        for (int i = 30; i < 39; i++)
                        {
                            <tr id="num_@(i + 1)">
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Key</td>
                                <td>@Model.selectNumberCountListOrderBy.ElementAt(i).Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $("tr[id^='num_']").each(function (data) {
            if (data < 10) {
                $(this).children('td').css("color", "red");
                $(this).children('td').css("font-weight", "bold");
            }
        }
      )
    </script>
}